<!DOCTYPE html>
<html>
<head>

<style type="text/css">
.vert {background-image: url(myImage.gif); background-repeat: repeat-y;}
.horiz {background-image: url(myImage.gif); background-repeat: repeat-x;}
.both {background-image: url(myImage.gif); background-repeat: repeat;}
</style> 
</head>

<body class = "vert">


</body>
</html>


